__pycache__
*.pyc
*.pyo
*.egg-info
dist
build
.env
.env.local
.git
.gitignore
.vscode
.idea
*.log
.DS_Store
node_modules
.pytest_cache
.coverage
htmlcov
.huggingface
models
*.onnx
notebooks
ppt
frontend
docs
README.md
